body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  text-align: center;
}

#quizBox {
  background: #fff;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  margin: 8px;
  font-size: 16px;
  cursor: pointer;
}
