/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

/* BACKGROUND */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* APP CARD */
.app {
  width: 100%;
  max-width: 420px;
  min-height: 90vh;
  background: linear-gradient(180deg, #eef2ff, #dbe3ff);
  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

/* TITLE */
h1 {
  text-align: center;
  color: #1f2937;
}

/* TOP BAR */
.top {
  display: flex;
  justify-content: space-between;
}

.top span {
  background: #ffffff;
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* TIMER */
.timer-box {
  text-align: center;
  margin: 12px 0;
}

#timerText {
  font-weight: bold;
  margin-bottom: 6px;
  color: #111827;
}

.timer-wrap {
  width: 100%;
  height: 10px;
  background: #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
}

.timer-bar {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg,#22c55e,#f59e0b,#ef4444);
  transition: width 1s linear;
}

/* QUESTION */
#question {
  text-align: center;
  margin: 18px 0;
  font-size: 18px;
  font-weight: 600;
}

/* OPTIONS */
.options button {
  width: 100%;
  padding: 15px;
  margin: 6px 0;
  font-size: 15px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  background: linear-gradient(135deg, #6d83f2, #5b6de0);
  color: white;
}

/* AD BOX */
.ad-box {
  margin-top: 10px;
  border: 2px dashed #9aa5ff;
  padding: 14px;
  text-align: center;
  border-radius: 14px;
  background: rgba(255,255,255,0.7);
}

.ad-box button {
  margin-top: 8px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #4f46e5;
  color: white;
  font-weight: bold;
}

/* CORRECT / WRONG */
.correct {
  background: linear-gradient(135deg, #22c55e, #16a34a) !important;
}

.wrong {
  background: linear-gradient(135deg, #ef4444, #b91c1c) !important;
  animation: shake 0.4s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-6px); }
  50% { transform: translateX(6px); }
  75% { transform: translateX(-6px); }
  100% { transform: translateX(0); }
}
